[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-cors-headers = "*"
channels = {extras = ["daphne"], version = "*"}
channels-redis = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
