{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="{% static 'chat/index.css' %}">
</head>
<body>
    <div class="top-bar">
        <h1>Welcome {{my_username}}!</h1>
        <a href="/logout" style="padding: 10px; background-color:#389b87; color:black;">Logout</a>
    </div>

    <div class="content">
        <h3>Enter a chat room ID:</h3>
        <input id="room-name-input" type="text" placeholder="Chat ID.." size="100">
        <input id="room-name-submit" type="button" value="Enter">
      
        {% if users %}
        <h3>Choose a user to chat with:</h3>
        <ul style="padding:20px;">
            {% for user in users %}           
            <li style="font-size:larger; font-weight:800;">
                <a href="/user/{{user.id}}">{{ user.username }}</a>
            </li>          
            {% endfor %}
        </ul>
        {% else %}
            <h3>No users to chat with yet.</h3>
        {% endif %}
                
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/' + roomName + '/';
        };
    </script>
</body>
</html>
