<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <h1>Welcome {{my_username}}!</h1>

    What chat would you like to enter?<br>
    <input id="room-name-input" type="text" placeholder="chat id.." size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <br>
    <h3>Choose user to chat with:</h3>
    <ul>
    {% for user in users %}
        <li><a href="/chat/user/{{user.id}}" style="color: blue;">{{ user.username }}</a></li>
    {% endfor %}
    </ul>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
</body>
</html>